@import 'src/assets/scss/variables';
@import 'src/assets/scss/mixins';

.number {
  display: flex;
  align-items: center;
  gap: .4em;

  &__input {
    width: 3em;

    font-size: 1em;
    font-weight: 500;
    line-height: 1.5;
    color: $text-color;
    text-align: center;

    background-color: transparent;
    border: 0;

  }
}
